.row.content 
{
	height: 1500px
}
.sidenav 
{
      background-color: #58595B;
      height: 100%;
}
.footer 
{
      background-color: #555;
      color: white;
      padding: 15px;
	  
}
.badge
{
	float:right
}
.titulo
{
	color:white;
}
    
@media screen and (max-width: 767px) 
{
      .sidenav 
	  {
        height: auto;
        padding: 15px;
		color:
      }
      .row.content 
	  {
		  height: auto;
	  } 
}