<html>

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">


  <title> LOGIN </title>
</head>

<body>

  <div id="todo">
    <h1 id="logo"> Quack </h1>
    <p id="phrase"> Quick as a quark</p>
    <div id="signin">
      <h2 id="subtitle"> Sign in </h2> <br> <br>

      <div id="wrongpass" class="alert alert-warning alert-dismissible">
        <strong>Oh no!</strong> Enter a valid password
      </div>

      <div id="wronguser" class="alert alert-warning alert-dismissible">
        <strong>Oh no!</strong> Enter a valid username
      </div>


      <form method="POST" action="/dologin">
        <div class="form-group">
          <label>Username</label>
          <input name="user" id="username" class="form-control" placeholder="Enter username" />
        </div>
        <div class="form-group">
          <label>Password</label>

          <input name="pass" class="form-control" id="password" type="password" placeholder="Enter password" />

          <small><input id="checkpass" type="checkbox"> Show password </small>
        </div>

        <button id="loginbutton" type="submit" class="btn"> Enter </button>
      </form>
    </div>
  </div>


  <!-- Aditional files -->
  <script type="text/javascript" src="static/javascript/Login.js"></script>
  <link rel="stylesheet" href="static/css/Login.css" />
</body>

</html>
