<html>

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


  <title> Quack - Chat </title>
</head>

<body>
  <div id="wrap">

<!--LEFT COLUMN -->
    <div class="leftchat">
      <div id="header">

        <div class="logo">
          <h1 class="logo"> Quack </h1>
        </div>

        <div class="contact" id="profile">
          <span class="glyphicon glyphicon-log-out"></span>
          <img class="contact" src="../static/images/profile.png"/>
          <h4 class="contact"> Super Me Duck </h4>
        </div>

        <div id="searchbar">
          <!--span class="glyphicon glyphicon-search"></span-->
          <input class="form-control" type="search" aria-describedby="searchcontact" placeholder="Search contacts...">
        </div>
      </div>

      <div id="chats-container">
        <div class="chats">
          <img class="contact chats" src="../static/images/Duckpool.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Mr. Duckpool </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Ducknut.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Ducknut </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Dennis-Tennis.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Dennis Tennis </h4>
            <p class="chats"> cuacuaucaucaucaucuacgyujuihuhlihu0njjihunaucadfghnkfdgjmgrlgjfmotn23456789 </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Dwight-Dwimmer.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Dwight Dwimmer </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>

        <div class="chats">
          <img class="contact chats" src="../static/images/Duckpool.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Mr. Duckpool </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Ducknut.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Ducknut </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Dennis-Tennis.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Dennis Tennis </h4>
            <p class="chats"> cuacuaucaucaucaucuacgyujuihuhlihu0njjihunaucadfghnkfdgjmgrlgjfmotn23456789 </p>
          </div>
        </div>
        <div class="chats">
          <img class="contact chats" src="../static/images/Dwight-Dwimmer.jpg"/>
          <div id="div-chats-text">
            <h4 class="contacs"> Dwight Dwimmer </h4>
            <p class="chats"> cuacuaucaucaucaucuacauca </p>
          </div>
        </div>

      </div>

    </div>

<!--RIGHT COLUMN -->
    <div class="rightchat">
      <div id="header">
        <div class="contact" id="currentcontact">
          <img class="contact" src="../static/images/Duckpool.jpg" />
          <h4 class="contact"> Mr. Duckpool </h4>
        </div>
      </div>

      <div id="messages-container">

        <div class="message" id="message-me"> <span>holaaaatgjiuytrthugyjtyhuiouytdssdfghjkjhgfdsrtgyhuljuhygtfrdetyuioutfryuiufrerfhjgkhikjbhjgnbhjkaaaa acabe</span> </div>
        <div class="message" id="message-me"> <span >mfdskmjndxka </span></div>
        <div class="message" id="message-you"> <span >chauuuuuuuuu</span></div>
        <div class="message" id="message-you"> <span >cuacuacuac uaudcaucuudc</span></div>
        <div class="message" id="message-me"> <span >lalalal alala llala lalal</span></div>
        <div class="message" id="message-you"> <span >holaaaaaaaa</span> </div>
        <div class="message" id="message-me"> <span >mfdskmjndxka </span></div>
        <div class="message" id="message-you"> <span >chauuuuuuuuu</span></div>
        <div class="message" id="message-you"> <span >cuacuacuac uaudcaucuudc</span></div>
        <div class="message" id="message-me"> <span >lalalal alala llala lalal</span></div>
        <div class="message" id="message-you"> <span >holaaaaaaaa</span> </div>
        <div class="message" id="message-me"> <span >mfdskmjndxka </span></div>
        <div class="message" id="message-you"> <span >chauuuuuuuuu</span></div>
        <div class="message" id="message-you"> <span >cuacuacuac uaudcaucuudc</span></div>
        <div class="message" id="message-me"> <span >lalalal alala llala lalal</span></div>
      </div>

      <div id="message-writebar">
        <input class="form-control" placeholder="Enter your message...">
        <span class="glyphicon glyphicon-send"></span>
      </div>

      <div id="welcome">
        <img id="logo-image" src="../static/images/Avioncito-logo.jpg" />
        <h2> Welcome to <h2 id="logo">Quack</h2> </h2>
        <h3> Click on me to begin <br>the experience</h3>
      </div>
    </div>



  </div>





  <!-- Aditional files (ALWAYS BEFORE <BODY> END)-->
  <script type="text/javascript" src="static/javascript/Chat.js"></script>
  <link href="static/css/Chat.css" rel="stylesheet" />
</body>

</html>
