<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Iniciar Sesión | PearChat</title>
  <meta name="description" content="Una aplicación de chat creada en UTEC - 2018">
  <meta name="author" content="Arturo Cuya">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/skeleton.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/icofont.css') }}">

  <!-- Favicon -->
  <link rel= "icon" type= "image/png" href= "{{ url_for('static',filename='images/pear.png') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <form action="/login" method="POST">
      <div class="row" style="margin-top: 25%">
        <div class="four columns">&nbsp;</div>
        <div class="four columns">
          <h4 style="text-align: center;">PearChat</h4>
          <label>Usuario</label>
          <input type="text" name="usr_email" class="u-full-width" id="input-username">
          <label>Contraseña</label>
          <input type="password" name="usr_password" class="u-full-width" id="input-password">
          <div id="error-container"><br><br></div>
          <br>
          <input class="button-primary" id="btn-login" type="submit" value="Iniciar sesión" style="margin: 0 auto; display: block;">
        </div>
      </div>
    </form>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
