<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 90%;
    border: 5px solid gray;
}

body{
	background-image: url("http://hdqwalls.com/wallpapers/8-bit-pixel-art-city-2o.jpg");
	background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
 }
 
header, footer {
    padding: 1em;
    color: white;
    background-color: #47a375;
    clear: left;
    text-align: center;
}

nav {
    float: center;
    max-width: 10000px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    color:gray;
	position:center-right;
	font-size:15px;
	margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.sidenav {
    width: 200px; 
	position:static;
    z-index: 2;
    background-color: #47a375;
    padding-left: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #595959;
}

.column{
    float: right;
    width: 80%;
    padding: 20px;
	background-color:White;
	font:arial;
	font-size:25;
}

</style>
</head>