<html>
<head>
  <title>
    Log In
  </title>
  <link rel="stylesheet" href="static/css/login.css">
</head>
<body background="../images/playa.gif">
<form action="/newusers/" method="post">
    <div>
      <h1>Sign Up</h1>
      <p>Username: </p><input placeholder="Enter a username..." id="user" name="username"><br>
      <p>Password: </p><input placeholder="Enter password..." id="password" name="password" type="password"><br>
      <br>
      <button onclick="code();">Sign Up</button><br>
      <br>
    </div>
</form>
</body>
</html>
