<h1 style="text-align: center;"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.clipartbest.com/cliparts/ecM/ppX/ecMppXnMi.jpeg" alt="Chat logo" width="36" height="36" />My Chat</h1>
<form action="/dologin" method="post">
<table style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td>Username</td>
<td><input name="username" type="text" /></td>
</tr>
<tr>
<td>Password</td>
<td><input name="password" type="password" /></td>
</tr>
<tr>
<td style="text-align: center;" colspan="2"><input type="submit" value="LOGIN" /></td>
</tr>
</tbody>
</table>
</form>