<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/chatstyle.css">

</head>
<body>
<br>
<div class="container" style="padding-left:70px;padding-right:70px">
<div class="row" style="border: 1px solid #D0D0D0;">
    <div class="col" type="primera" style="margin-bottom:10px">

		<div><img src="../static/images.png" width="58px" height="58px" style=" border-radius: 50%;margin:7px"><a style="margin:15px;color:#0485E1"><b>@jbellido</b></a></div>

		<div class="chatp1"><a class="chatp2"><b>@framos</b></a><br><a class="chatp2">Vamos al estadio???</a><font color="white"><span class="green">2</span></font></div>

		<div class="chatp1"><a class="chatp2"><b>@aacosta</b></a><br><a style="margin:10px 15px 10px 15px;">Reunión en mi casa a las 5 PM</a><font color="white"><span class="yell">3</span></font></div>

		<div class="chatp1"><a class="chatp2"><b>@mbellido</b></a><br><a style="margin:10px 15px 10px 15px;">Te estamos esperando...</a><font color="white"><span class="blue">5</span></font></div>

		<div class="aun"></div>
		<div class="aun"></div>
		<div class="aun"></div>
		<div class="aun"></div>
		<div class="aun"></div>
    </div>
    <div class="col">
		<div style="height:67; border:1px solid #D0D0D0;margin-top:15;border-top-right-radius: 7px;"><b style="margin:23px;line-height:3;font-size:25px">@framos</b></div>
		<div style="border: 1px solid #D0D0D0;padding:3px; height:303px">
			<div style="text-align:left;padding:8px;"><a class="send1">HOLAAAAAA!!!!</a></div>
			<div style="text-align:right;padding:8px;"><a class="send1">AMIGOOOOOO QUE TAAAAAL</a></div>
			<div style="text-align:left;padding:8px;"><a class="send1">Super bien, mañana juega Perú!!!!</a></div>
			<div style="text-align:left;padding:8px;"><a class="send1">Vamos al estadio????</a></div>
		</div>

		<div style="height:80px;width:100%;border: 1px solid #D0D0D0; margin-top:2px; border-radius: 4px;"><a style="margin:6px;">VAMOSSSSSS</a></div>

		<div style="margin-top:1px;border-radius: 4px;"><input type="submit" value="ENVIAR"></div>


	</div>

</div>

</div>
</body>
</html>
