<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
  <meta name="viewport" content="width= 200px , initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  
</head>
<style>
body{
  background:url("https://farm6.staticflickr.com/5709/23839361911_aaec427c98_k_d.jpg") ;
  height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
}

</style>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
  <h2>Contactos</h2>
  <div class="list-group">
    <a href="#" class="list-group-item ">
      <h4 class="list-group-item-heading">Doménica</h4>
      <div class="status">
              <i class="fa fa-circle online"></i> online
      </div>
      <li class="list-group-item">bye bye <span class="badge">1</span></li>


    </a>
    <a href="#" class="list-group-item " >
      <h4 class="list-group-item-heading">Elena</h4>
      <div class="status">
              <i class="fa fa-circle online"></i> online
      </div>
      <li class="list-group-item">...<span color="yellow" class="badge">5</span></li>

    </a>
    <a href="#" class="list-group-item ">
      <h4 class="list-group-item-heading">Ursula</h4>
      <div class="status">
              <i class="fa fa-circle offline"></i> left 7 mins ago
            </div>
      <li class="list-group-item">(O_o) <span class="badge">3</span></li>
    </a>
  </div>
</div>
  <div class=col-sm-7>


<h2>My Chat</h2>

<div class="q">

<p>

<i class="em em-anguished"></i> por fa  </p>
  <span class="time-right">10:10 am</span>
</div>


<div class="q l">
  <p><i class="em em-confused"></i> </p>
  <span class="time-left">10:11 am</span>
</div>

<div class="q">
  <p>Ay <i class="em em-alien"></i></p>
  <span class="time-right">12:02 am</span>
</div>

<div class="q l">
  <p>(>_<)</p>
  <span class="time-left">12:05 am</span>
</div>
<div class="q ">
  <p> ohhh</p>
  <input class="x" type="button" value ="Enviar">
</div>
 <div class="chat-message">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
 </div>

</body>
</html>



  </div>
  </div>

  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/stylos.css">

</head>