<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="utf-8">
	<title>Log In</title>

	
<style>
Titulo {
	
	margin: 895px;
	padding-top: 20px
	
	}
Txt {
	
	margin: 847px;
	}
	
xd {
		color: Brown;
		font-size: 155%;
		margin: 840px;

		}
</style>
</head>
<body style="background-color:LightGray;">


<h2><xd>myCHAT</xd></h2>
<h3><Titulo>LOGIN</Titulo></h3>

<form action="/dologin" method="POST">
	<Txt>Usuario:</Txt><br>
	<Txt><input type="text" name="username"></Txt>
	<br>
	<Txt>Password:<br></Txt>
	<Txt><input type="password" name="password"></Txt>
	<Txt><input type="submit" value="Go"></Txt>
	
</form>


</body>
</html>
