<html>

<head>
  <title>
    Chat
  </title>
  <link rel="stylesheet" href="static/css/chat.css">
  <!--script src="chat.js"></script-->
</head>

<body>
    <div id="first">
      <div id="minombre">
        <img id="avatar" src="static/images/husky.jpg">
        <h2>Mi nombre</h2>
      </div>
      <div id="chat1">
        <img id="avatar" src="static/images/manati.jpg">
        <h3>Manan</h3>
        <p>Soy un manati</p>
      </div>
      <div id="chat1">
        <img id="avatar" src="static/images/bear.jpg">
        <h3>Fefi</h3>
        <p>Soy un oso</p>
      </div>
      <div id="chat1">
        <img id="avatar" src="static/images/lion.jpg">
        <h3>Leo</h3>
        <p>Soy un leon</p>
      </div>
    </div>

    <div id="second">
      <div id="chat">
        <img id="avatar" src="static/images/manati.jpg">
        <h2>Manan</h2>
      </div>
      <div id="habla">
        <div id="p1">
          Hola
        </div>
        <div id="p2">
          Hola
        </div>
        <div id="p1">
          Chau
        </div>
        <div id="p2">
          Soy un manati
        </div>
        <div id="p1">
          Hola
        </div>
        <div id="p2">
          Hola<br>
          Hois<br>
          Holiwis
        </div>
        <div id="p1">
          Chau
        </div>
        <div id="p2">
          Soy un manati
        </div>
        <div id="p1">
          Hola
        </div>
        <div id="p2">
          Hola
        </div>
        <div id="p1">
          Chau
        </div>
        <div id="p2">
          Soy un manati
        </div>
      </div>
      <div id="textbox">
        <textarea placeholder="Type here to chat..." cols="85" rows="5"></textarea>
        <button type="button"><img src="static/images/Telegram_Messenger.png" height=55 width=55></button>
      </div>
    </div>
</body>

</html>
