
#leftcolumn {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #4DB6AC;
}

#leftcolumn #userinfo {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
    font-size: 200%;
    font-weight: 700;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#leftcolumn #messagebar {
    overflow: scroll;
    height: 70%;
}

#leftcolumn #messagebar ul li.contact:hover {
  background-color: #26A69A;
}

#leftcolumn #messagebar ul li.contact {
    list-style-type: none;
    border-bottom: 1px solid white;
    padding: 5%;
    overflow: hidden;
    background-color: #4DB6AC;
}

#leftcolumn #messagebar ul li.contact .wrap img {
  width: 20%;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

#leftcolumn #messagebar ul li.contact .wrap .meta {
  padding-top: 8%;
}

#leftcolumn #messagebar ul li.contact .meta .name {
  font-weight: 700;
}

#leftcolumn #messagebar ul li.contact .meta .preview {
  margin-top: 5px;
  padding-bottom: 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#rightcolumn {
    float: right;
    width: 70%;
    height: 100%;
}

#rightcolumn #idother {
    height: 17%;
    font-size: 200%;
    font-weight: 700;
    padding: 5%;
    color: black;
    background-color: #26A69A;
    font-family: 'Raleway', sans-serif;
}

#rightcolumn #conversacion {
    overflow: scroll;
    height: 50%;
    background-color: #26A69A;
}

#rightcolumn #conversacion #p1 {
    background-color: white;
    float: left;
    width: 70%;
    margin: 1%;
    padding-left: 3%;
    border-radius: 10%;
}

#rightcolumn #conversacion #p2 {
    background-color: white;
    float: right;
    width: 70%;
    margin: 1%;
    padding-left: 3%;
    border-radius: 10%;
}

#rightcolumn #textinput{
    margin-top: 5%;
}

textarea {
    width: 100%;
}

.enviar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1%;
    width: 20%;
    height: 5%;
    text-align: center;
    font-size: 100%;
    border-radius: 15%;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin: 2%;
}

.enviar:hover {
    background-color: #8FBC8F;
}