body {
    background-color: 	#F5F5DC;
}

#box {
    width:30%;
    height:60%;
    background: #20B2AA;
    margin: auto;
    margin-top: 5%;
    border-radius: 15%;
    min-height: 300px;
    min-width: 200px;
}

#content {
    padding-top: 8%;
    margin: auto;
}

#title {
    font-size: 200%;
    font-family: 'Jua', sans-serif;
    margin-bottom: 5%;
}

input {
    width: 50%;
    height: 8%;
    padding: 5%;
    border: none;
    border-radius: 15%;
}

input::placeholder {
    font-size: 100%;
}

.login {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    font-size: 100%;
    border-radius: 15%;
    transition: all 0.5s;
    cursor: pointer;
}

.login:hover {
    background-color: #8FBC8F;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
