<html>
<head>

    <title>MyCHAT</title>
    <link rel="stylesheet" type="text/css" href="static/css/chat.css">

    <!-- Favicon–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="../static/resources/icon.png">

    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

    <script type="text/javascript" src="static/js/chat.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

    <div id="leftcolumn">
        <div id="userinfo">
            <img src="../static/resources/circulo.png" alt="" />
            @Username
        </div>
        <div id="messagebar"class="container">
        <ul>
            <li class="contact">
                    <div class="wrap">
                        <img src="../static/resources/circulo.png" alt="" />
                    </div>
                    <div class="meta">
                        <p class="name">User1</p>
                        <p class="preview">Hola, que tal si vamos a comer a panchita el sabado en la mañana?</p>
                    </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <img src="../static/resources/circulo.png" alt="" />
                </div>
                <div class="meta">
                    <p class="name">Friend</p>
                    <p class="preview">Podria escribir lorem ipsum pero me da flojera buscarlo en internet y hacerle copy paste</p>
                </div>
            </li>
            <li class="contact">
                <div class="wrap">
                    <img src="../static/resources/circulo.png" alt="" />
                </div>
                <div class="meta">
                    <p class="name">Otherboi</p>
                    <p class="preview">Espero que el profe no me jale en plataformas :C </p>
                </div>
            </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
            <li class="contact"> </li>
        </ul>
      </div>
    </div>
    <div id="rightcolumn">
        <div id="idother"class="container">
            User1
        </div>
          <div id="conversacion"class="container">
            <div id="p1">
                holi
            </div>
            <div id="p1">
                holi
            </div>
            <div id="p2">
                holi
            </div>
            <div id="p1">
                holi
            </div>
            <div id="p2">
                holi
            </div>
            <div id="p2">
                holi
            </div>
            <div id="p1">
                holi
            </div>
            <div id="p2">
                holi
            </div>
            <div id="p1">
                holi
            </div>
            <div id="p2">
                holi
            </div>
            <div id="p1">
                holi
            </div>
            <div id="p2">
                Hola, que tal si vamos a comer a panchita el sabado en la mañana?
            </div>
          </div>
          <div id="textinput" class="container">
              <textarea id="message" placeholder="Write your message here...">  </textarea>
          </div>
          <div id="enviar"class="container">
              <button onclick="" class="enviar">Send</button>
          </div>
    </div>

</body>

</html>
