<!DOCTYPE html>
<html lang="s">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title> MyChat</title>
    <style >
    *{
      margin: 0;
      padding: 0;
    }
    body,html{
    height:100%;
    }
    header{
      width: 95%;
    }
    div.contactos{
      width: 20%;
      margin: 20px;
      height: 65%;
      text-align: center;

    }
    input[type="text"] {
        width: 98%;
        margin: 20px;
    }
    div.chat{
      position: absolute;
      margin: 10px;
      height: 70%;
      width:75%;
      left: 300px;
      top: 110px;

      background: ;-image: url(pic.png);
    }
    </style>
  </head>
  <body style="background-color:LightGray;" >
    <center>
      <header>
      <h1 style="border:2px solid Tomato; background-color:Orange;" >MyChat</h1>
      </header>
      </center>
      <div class="container-fluid">
        <nav>
          <h3 style="background-color:MediumSeaGreen">   | Friends  |  Estados  |  NuevoChat | Menu | </h3>
        </nav>
      </div>
      <hr/>
      <div class="contactos" style="background-color:SlateBlue">
        <p><h5>Friend 1</h5></p>
        <p><h5>Friend 2</h5></p>
        <p><h5>Friend 3</h5></p>
        <p><h5>Friend 4</h5></p>
        <p><h5>Friend 5</h5></p>
        <p><h5>Friend 6</h5></p>
        <p><h5>Friend 7</h5></p>
        <p><h5>Friend 8</h5></p>
        <p><h5>Friend 9</h5></p>
        <p><h5>Friend 10</h5></p>
      </div>
      </section>
      <div class="chat"></div>
      <footer >
        <input type="text" name="" value="">
      </footer>





  </body>
</html>
