<!DOCTYPE html>
<html>
<head>
    <title>Chat Box</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"> 
    <script src="/static/condicional.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Quicksand:700');</style>
</head>
<body>
    <div class="chatbox">
    <div class="row">
       
        <div class="chatlogs">
            <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message">Hola</p> 
            </div>
            <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message">Que tal, como estas? </p> 
            </div>
            <div class="chat self">
                <div class="user-photo"></div>
                <p class="chat-message">Hola</p>  
            </div>
            <div class="chat self">
                <div class="user-photo"></div>
                <p class="chat-message"> No manito no llego estoy bien gracias, cuandonos vemos?.</p>    
            </div>
            <div class="chat friend">
                <div class="user-photo"></div>
                <p class="chat-message"> Nose estoy ocuado estudiando.
            </div>
        </div>
        <div class="chat-form">
            <textarea></textarea>
            <button>Send</button>
        </div>
    </div>
      

</body>
</html>