<html>
<head>
    <title>CHATBOX</title>
    <link rel="stylesheet" type="text/css" href="/static/estilos.css">
    <script src="/static/condicional.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>@import url('https://fonts.googleapis.com/css?family=Quicksand:700');</style>
</head>
<body>
    <div class = "loginbox">
        <img src="/static/avatar.png" class = "avatar">
        <h1>CHAT BOX</h1>
        <form name= "login" onSubmit = "return validation()" action = "/chat" >
            Username: <input type = "text" name="uname" placeholder="Enter Username" value="">
            Password: <input type = "password" name="pwd" placeholder="Enter Password" value="">
            <input type = "submit" name "btn" value="Enter">
        </form>
    </div>
</body>
</html>