<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
</head>

<title>My Chat</title>
  <body style="background-color:DodgerBlue;">
  <center>
    <h1 style="color:Tomato;">MyChat</h1>
    <div>
      <form id="login" action="/dologin" method="POST">
        <p><label>Usuario:</label></p>
        <input name="usuario" type="text" id="usuario" placeholder="Ingresar Usuario" >
        <p><label>Contraseña: </label></p>
        <input name="password" type="password" id="password" placeholder="Ingresar contraseña" >
          <p><input type="submit" value="Ingresar"  onclick=""></p>
      </form>
    </div>
  </center>
  </body>
</html>
